---
import { getTasks } from '@data/pocketbase';
import DeleteTaskButton from '@components/app/tasks/DeleteTaskButton.astro';
import CompleteTaskButton from '@components/app/tasks/CompleteTaskButton.astro';
const { project_id, done } = Astro.props;
const tasks = await getTasks({ project_id, done });
---

{tasks.length === 0 && <p class="text-center text-zinc-900 dark:text-white">Nothing yet</p>}

<ul class="space-y-6 mb-10">
  {
    tasks.map((task) => (
      <li>
        <div class="flex justify-between space-x-4 items-center">
          <div>
            <CompleteTaskButton task={task} />
          </div>
          <div class="flex-1">{task.text}</div>
          <div>
            <DeleteTaskButton task={task} />
          </div>
        </div>
      </li>
    ))
  }
</ul>
