---
import { getProjects } from '@data/pocketbase';

const projects = await getProjects();
---

<aside class="text-white">
  <div class="mb-6 rounded-lg bg-zinc-800">
    <div
      class="rounded-lg bg-zinc-900 px-5 py-4 sm:py-2.5 text-xl sm:text-2xl md:text-3xl text-white uppercase text-center font-extrabold"
    >
      <a href="/app/dashboard">SECRETPLAN</a>
    </div>
  </div>

  <div class="mb-6 rounded-lg bg-zinc-800">
    <a
      href="/app/dashboard"
      class={'block bg-zinc-900 py-2 pl-2 cursor-pointer hover:bg-zinc-800 border-b border-zinc-800 uppercase border-t-zinc-400 font-black rounded-t-lg ' +
        (projects.length === 0 ? ' rounded-b-lg ' : '') +
        (Astro.url.pathname === '/app/dashboard' && ' font-bold !bg-blue-800 ') +
        (Astro.params.project_id && ' !bg-white text-black border ')}
    >
      Your projects
    </a>

    <div>
      {
        projects.map((project, index) => {
          return (
            <a
              href={`/app/project/${project.id}`}
              class={
                'bg-zinc-900 py-2 pl-2 cursor-pointer hover:bg-zinc-800 border-b border-zinc-800' +
                (Astro.url.pathname === `/app/project/${project.id}`
                  ? ' font-bold !bg-blue-800'
                  : '') +
                (index === projects.length - 1 ? ' rounded-b-lg ' : '') +
                ' flex justify-between'
              }
            >
              <span>{project.name}</span>
              <span class="mr-2">
                {Astro.url.pathname === `/app/project/${project.id}` && <span>▶︎</span>}
              </span>
            </a>
          );
        })
      }
    </div>
  </div>
</aside>
